header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin-right: 185px;
    font-size: 0.95em;
}
.linha{
    position: absolute;
    top: 11px;
    left: 1189.5px;
    border: 1px solid grey;
    height: 30px;
    width: 0px;
}
.blocohead{
    width: 85px;
    color: grey;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 16px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
}
.blocohead:hover{
    translate: 3px -3px;
    color: aqua;
}
#fundocurriculo{
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 10px aqua;
    background-color: aqua;
}
body{
    background: black;
    font: normal 1em Arial;
}
span{
    color: aqua;
}
main{
    position: absolute;
    top: 42%;
    left: 35%;
    translate:-50% -50%;
    width: 400px;
    text-align: start;
    color: white;
}
section{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.bloco{
    text-decoration: none;
    color: black;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    transition: 0.2s;
    box-sizing: border-box;
}
.bloco:hover{
    translate: 5px;
    border: 2px solid white;
}
.img{
    position: absolute;
    border-radius: 15px;
    bottom: -20.6%;
    left: 110%;
    width: 400px;
    height: 400px;
    background: black url(b2ap3_large_profesion-de-programador-web.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.5);
    transition: 0.5s;
}
.back{
    border: 2px solid aqua;
    position: absolute;
    border-radius: 15px;
    left: 115%;
    bottom: -15%;
    width: 390px;
    height: 390px;
    transition: 0.2s;
}
.img:hover{
    box-shadow: 1px 1px 10px aqua;
    translate: 14.5px -14.5px;
}
#a{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}
div{
    color: white;
    position: absolute;
    top: 134%;
    left: 64.5%;
    translate:-50% -50%;
    width: 400px;
    text-align: start;
    color: white;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}
div > h1{
    position: absolute;
    top: -60px;
}
div > .back{
    border: 2px solid white;
    position: absolute;
    top: -80px;
    left: -455px;
}
div > .img{
    position: absolute;
    left: -441px;
    top: -100px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    background-image: url(WhatsApp\ Image\ 2023-03-28\ at\ 16.28.04.jpeg);
}
div > .img:hover{
    translate: -15px 13px;
    box-shadow: 1px 1px 10px white;
}
.texto{
    padding-top: 8px;
}
.texto1{
    padding-bottom: 20px;
}